<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
    <script src="js/signup.js"></script>
    <title>JongCo's Life Quest - Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="login-label">Sign Up</div>
        <div class="login-form">
            <input id="username-input" type="text" name="username" placeholder="Username">
            <input id="password-input" type="password" name="password" placeholder="Password">
            <input id="signup-btn" type="submit" value="Sign Up">
        </div>
    </div>
</body>
</html>